Repository kholcomb/k8sec-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-module-path, check-binary-name-consistency, validate-github-actions

check-go-module-path:
  name: Validate Go module path
  description: Ensures go.mod uses correct module path
  entry: bash -c 'if ! grep -q "module github.com/kholcomb/k8sec-toolkit" go.mod; then echo "go.mod must use correct module path"; exit 1; fi'
  language: system

check-binary-name-consistency:
  name: Check binary name consistency
  description: Ensures Makefile and configs use k8sec-toolkit binary name
  entry: bash -c 'if grep -r "BINARY_NAME.*kubesec" Makefile; then echo "Found incorrect binary name in Makefile"; exit 1; fi'
  language: system

validate-github-actions:
  name: Validate GitHub Actions
  description: Basic validation of GitHub Actions workflow syntax
  entry: bash -c 'find .github/workflows -name "*.yml" -o -name "*.yaml" | xargs -I {} sh -c "echo Validating {}; yamllint {}"'
  language: system
  additional_dependencies:
  - yamllint

temp: move workflows for GitHub App limitations
  .github_workflows_temp/ci.yml
  .github_workflows_temp/security.yml
  .github_workflows_temp/validate-workflows.yml
Due: none

feat: restore GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .github/workflows/validate-workflows.yml
Due: validate-github-actions

chore: clean up for GitFlow setup
  .github_workflows_temp/ci.yml
  .github_workflows_temp/security.yml
  .github_workflows_temp/validate-workflows.yml
Due: none

docs: add GitHub repository setup instructions
  GITHUB_SETUP.md
Due: none

Revert "feat: restore GitHub Actions workflows"
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .github/workflows/validate-workflows.yml
Due: validate-github-actions

feat: add comprehensive CODEOWNERS file
  .github/CODEOWNERS
Due: none

deps: major dependency updates for security and compatibility
  go.mod
  go.sum
Due: check-go-module-path

fix: update tablewriter API usage for v1.0.7 compatibility
  pkg/output/formatter.go
Due: none

deps: complete remaining dependency updates
  Dockerfile
  go.mod
  go.sum
Due: check-go-module-path

feat(dev): activate pre-commit hooks and complete GitFlow documentation
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_story.yml
  .github/ISSUE_TEMPLATE/security_task.yml
  .github/dependabot.yml
  .gitignore
  .gitmessage
  .golangci.yml
  .markdownlint.json
  .pre-commit-config.yaml
  .secrets.baseline
  .yamllint.yml
  CONTRIBUTING.md
  Dockerfile
  GITHUB_SETUP.md
  Makefile
  README.md
  SECURITY.md
  cmd/k8sec-toolkit/main.go
  go.mod
  go.sum
  internal/cli/config.go
  internal/cli/root.go
  internal/cli/scan.go
  internal/cli/scan_test.go
  internal/cli/tools.go
  internal/cli/version.go
  internal/config/config.go
  internal/scanner/crd.go
  internal/scanner/scanner.go
  internal/security/executor.go
  internal/tools/kubescape.go
  internal/tools/trivy.go
  internal/types/types.go
  internal/types/types_test.go
  pkg/output/formatter.go
  pkg/output/formatter_test.go
Due: check-go-module-path, check-binary-name-consistency

fix: remove remaining kubesec references from issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
Due: none

fix: exclude build directory from git to prevent binary file issues
  .gitignore
Due: none

Add kube-bench wrapper implementation
  internal/scanner/scanner.go
  internal/tools/kubebench.go
Due: none

Complete kube-bench integration with tests and documentation
  README.md
  internal/cli/scan.go
  internal/config/config.go
  internal/tools/kubebench_test.go
Due: none

feat: implement kubectl-who-can RBAC analysis wrapper
  README.md
  SECURITY.md
  internal/cli/scan.go
  internal/config/config.go
  internal/scanner/scanner.go
  internal/tools/kubectlwhocan.go
  internal/tools/kubectlwhocan_test.go
Due: none

Create summary.yml
  .github/workflows/summary.yml
Due: validate-github-actions

Create summary.yml (#26)
  .github/workflows/summary.yml
Due: validate-github-actions

feat(tools): complete Polaris integration for workload best practices validation
  internal/cli/scan.go
  internal/scanner/scanner.go
  internal/tools/polaris.go
  internal/tools/polaris_test.go
Due: none

feat(tools): Complete Polaris integration for workload best practices validation (#27)
  README.md
  SECURITY.md
  internal/cli/scan.go
  internal/config/config.go
  internal/scanner/scanner.go
  internal/tools/kubebench.go
  internal/tools/kubebench_test.go
  internal/tools/kubectlwhocan.go
  internal/tools/kubectlwhocan_test.go
  internal/tools/polaris.go
  internal/tools/polaris_test.go
Due: none

test: add comprehensive Trivy test coverage
  internal/tools/trivy_test.go
Due: none

test: add comprehensive Trivy test coverage (#28)
  internal/tools/trivy_test.go
Due: none

Path conditions:
  check-go-module-path: any of: go.mod
  check-binary-name-consistency: any of: Makefile
  validate-github-actions: any of: \.github/workflows/.*\.(yml|yaml)$
